<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <label class="input-group-text" for="sort">排序</label>
          <select name="sort" class="form-select" id="sort">
            <option value="asc">A-Z</option>
            <option value="desc">Z-A</option>
          </select>
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button" minlength="2" maxLength='50'>
          <div class="input-group-append">
            <button class="my-btn btn-major" type="submit" id="search-button" type="submit" id="search-button"><i
                class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">

        <!-- 新增餐廳 -->
        <a href="/restaurant/new" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="/img/add.png" alt="ZIGA ZIGA">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">你要新增餐廳嗎？按這裡</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> 餐廳類別
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                星數
                <i class="fas fa-star fa-xs"></i>
              </span>
              <div class="line mt-2"></div>
              <div class="mt-2 d-grid gap-2 d-md-flex justify-content-md-end">
                <span class="badge badge-secondary font-weight-normal mx-2">
                  <i class="far fa-plus-square fa-xs"></i>
                  新增喜愛的餐廳
                </span>
              </div>
            </div>
          </div>
        </a>

        {{#each restaurants}}
        <a href="/show/{{this.id}}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="Sababa 沙巴巴中東美食">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
              <div class="line mt-2"></div>
              <div class="mt-2 d-grid gap-2 d-md-flex justify-content-md-end">
                  <a href="/restaurant/{{ this._id }}?_method=PUT">
                    <span class="badge badge-secondary font-weight-normal mx-2">
                      <i class="fas fa-edit fa-xs"></i>
                      修改
                    </span>
                  </a>
                  <a href="/restaurant/delete/{{ this.id }}?_method=DELETE">
                    <span class="badge badge-warning font-weight-normal">
                      <i class="fas fa-times fa-xs"></i>
                      刪除
                    </span>
                  </a>
              </div>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>